DJANGO_SECRET_KEY="123"
DEBUG=True                                                      # True, False
ALLOWED_HOSTS="wordtrack.example.com,0.0.0.0"                   # comma separated list of values
CSRF_TRUSTED_ORIGINS="https://wordtrack.example.com,0.0.0.0"    # comma separated list of values
OPENAI_API_KEY="123"
